@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div {           
            float: left;
            border: gray 1px solid;
            margin: 10px;
            padding: 10px;
            box-shadow: 0 0 10px black;
            border-radius: 5px;
        }        
    </style>
</head>
<body>
    <div>
        <h3>Прошлое</h3>
        <ol>
            <li>Book 1</li>
        </ol>
    </div>
    <div>
        <h3>Настоящее</h3>
        <ol>
            <li>Book 2</li>
        </ol>
    </div>    
    <div>
        <h3>Будущее</h3>
        <ol>
            <li>Book 3</li>
        </ol>
    </div>
</body>
</html>
